20News/*
JavaCode/*
DBFiles/*
Executables/*
HeadersbuildDB/*
HeadersqueryDB/*
Makefile
**/.DS_Store
**/*.o
**/*.swp
**/*.clang-tidy
**/*.dir-locals.el
**/*.yy.c
**/*.tab.c
**/*.tab.h
catalog
query.txt
